/**
 * Importing TailwindCSS here...
 * Feel free to add your own CSS clases here or create a new .css file
 * 
 * Ignore this file if you're new to web development
 */

@import "tailwindcss";
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}